html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > * {
    border: 2px solid black;
    text-align: center;
    padding: 2rem;
}

body > section {
    flex: 1;
    background-color: #7BA506;
}

header {
    background-color: 
}

nav{
    background-color: beige;
}

section {
    background-color: blue;
}

footer {
    background-color: #efefef
}


